<style>
    
</style>

<div id="alertsContainer">
  <% if (announcements && announcements.length) { %>
    <% announcements.forEach(a => { %>
      <div><%= a.author %> : <%= a.message %></div>
    <% }) %>
  <% } else { %>
    <div>No announcements yet.</div>
  <% } %>
</div>
