<style> 
.annou{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: bisque;
  border-radius: 50px;
  font-size: larger;
  flex-wrap: wrap;
} 
</style>

<div class="annou" id="alertsContainer">
  <% if (announcements && announcements.length) { %>
    <% announcements.forEach(a => { %>
      <div><%= a.author %> : <%= a.message %></div>
    <% }) %>
  <% } else { %>
    <div>No announcements yet.</div>
  <% } %>
</div>
