<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <style>

      *{
        padding:0px;
        margin: 0px;
      }

      body{
        display: flex;
        justify-content: center;
        background: #d9e5d6
      }
      #newpass-section {
        width: 40%;
        height: 60%;
      }

      #reset{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        width: 400px;
        height: 350px;
        margin: 10% 0px 0px 0px;
        border-radius:20px ;
        gap: 2%;
      }

      #text{
        margin: 80px 0px 0px 0px;
      }

      input{
        height:30px;
        width: 150px;
        padding: 3px;
        border-radius: 10px;
        outline: none;
        border:2px solid transparent;
        background-color: #e3d2d2;

      }

      button{
        height: 40px;
        width: 70px;
        border-radius:10px;
        outline: none;
        border: 2px solid transparent;
      }

      button:active{
        background-color: black;
        color: aliceblue;
      }

      label{
        font-weight: 700;


      }

    </style>
  </head>
  <body>
    
    <div id="reset">
      <label id="text"> Method to Reset Password</label>
      <!--action to send it to admin to be added later-->
      <form id="forgotpassform">
        <label for="Email">Email:</label>
        <input type="text" placeholder="Enter your Email" name="email" required />
        <button type="button" id="sendotp">Send otp</button>
        <div id="otpsection" style="display: none;">
        <label>OTP:</label>
        <input
          id="otp"
          type="numerical"
          required
          maxlength="6"
          placeholder="Enter OTP"
          name="otp"
        />
        <button id="verifyotp" type="button">Verify OTP</button>
        </div>
        <div id="newpass-section" style="display: none;">
        <label>New Password:</label>
        <input type="password" id="newpassword" required />
        <label>Confirm Password:</label>
        <input type="password" id="confirmpass" required />
        <button id="resetpassword">Reset password</button>
        </div>
      </form>
    </div>
    
    <script src="/js/forgotpass.js"></script>
  </body>
</html>
