<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <div>
      <nav id="f_Home">Home</nav>
    </div>
    <div>
      <p>Choose Method to Reset Password</p>
      <!--action to send it to admin to be added later-->
      <form id="forgotpassform">
        <label for="Username">User Name:</label>
        <input type="text" placeholder="Enter your User name" required />
        <div id="otpsection">
        <input
          id="otp"
          type="numerical"
          required
          maxlength="6"
          placeholder="Enter OTP"
        />
        </div>
        <button id="submit">Send on Email</button>
        <button id="verifyotp">Verify OTP</button>
        
      </form>
    </div>
    <script src="forgotpass.js"></script>
  </body>
</html>
