<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>log in page</title>
    <style>
      * {
        margin: 0px;
        padding: 0px;
        font-weight: 500;
        font-size: medium;
        font-family: "Times New Roman", Times, serif;
      }

      .form {
        height: 1140px;
        width: 375px;
        background-color: #eddea4;
        margin: 25px 0px 0px 0px;
        padding: 0px 0px 0px 50px;
        border-radius: 30px;
        box-shadow: 0 4px 15px #11111a;
      }

      label,
      button {
        display: block;
        margin: 10px 0px 5px 0px;
      }
      .container {
        height: 1200px;
        display: flex;
        justify-content: center;
        background-color: #d9e5d6;

      }

      input {
        height: 20px;
        width: 300px;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid transparent;
        background-color: #d9e5d6;
        color: indigo;
        font-weight: 550;
      }

      .vry {
        height: 30px;
        width: 80px;
        padding: 5px;
      }

      button {
        height: 40px;
        width: 100px;
        border-radius: 10px;
        background-color: #ff9b42;
        border: none;
        box-shadow: 0 4px 15px #615454;
      }

      #info {
        color: red;
        font-size: 17px;
        font-weight: 700;
      }
      #tag {
        display:inline;
        color: blue;
        margin: 10px;
      }

      select {
        height: 20px;
        width: 80px;
        border-radius: 5px;
        margin: 2px 0px 0px 10px;
        border: none;
        color: indigo;
        font-weight: 550;
      }
    </style>
  </head>
  <body>
    <!-- it for only bus drivers and transporters login page -->

    <div class="container">
      <div class="form">
        <form id="registerform" data-role="management">
          <label id="info">Personal Deatails</label>
          <label for="name" >Name:</label>
          <input type="text" placeholder="Enter name" name="username" required />
          <label for="email">Official Email:</label>
          <input
            type="email"
            inputmode="email"
             name="email"
            placeholder="Enter your Official email"
            required
          />

          <button class="vry" id="sendotp" style="background-color: #0fa3b1;">send otp</button>
          <div id="otpsection">
          <label for="otp" >OTP:</label>
          <input
            type="tel"
            placeholder="Enter OTP"
            name="otp" 
            id="otpinput"
            required
            inputmode="numeric"
            maxlength="6"
          />
          <button class="vry" id="otp_v">verify otp</button>
          </div>
          <label for="mobile_no">Official Mobile No. :</label>
          <input
            type="tel"
            placeholder="Official Mobile Number"
            required
             name="phone"
            inputmode="numeric"
            maxlength="10"
          />

          <label for="mobile_no"> Alternate Mobile No. :</label>
          <input
            type="tel"
            placeholder="Enter Mobile Number"
            inputmode="numeric"
            maxlength="10"
          />

          <label for="a_number" >Date of Birth:</label>
          <input type="date" name="dob" required />

          <label id="tag" >Sex:</label>
          <select required name="gender">
            <option value="male">MALE</option>
            <option value="female">FEMALE</option>
            <option value="other">OTHER</option>
          </select>

          <label for="a_number" >Aadhar Number:</label>
          <input
            type="tel"
            name="aadhar
            placeholder="Enter Aadhar Number"
            required
            inputmode="numeric"
            maxlength="12"
          />

          <label id="info">Professional Deatails</label>

          <label id="tag" >Monitering Role:</label>
          <input name="manrole">
          <select>
            <option>Tactic & Protocol</option>
            <option>Execusion</option>
            <option>Supervision</option>
          </select>
          <br>
          <label id="tag" for="VNP">Duty time:</label>
          <select>
            <option>Morning Shift</option>
            <option>Evening Shift</option>
            <option>Night Shitf</option>
          </select>

          <label for="image" >Team Id:</label>
          <input type="file" name="imageid" required />
         
          <label id="tag" for="VNP">Assement Zone:</label>
          <select>
            <option>Parking no. 1</option>
            <option>Parking no. 2</option>
            <option>Parking no. 3</option>
            <option>Parking no. 4</option>
            <option>Ghat no. 1</option>
            <option>Ghat no. 2</option>
            <option>Ghat no. 3</option>
            <option>Ghat no. 4</option>
          </select>

          <label for="password">Create Password:</label>
          <input
            type="password"
            inputmode="verbatim"
             name="fkpass"
            placeholder="Enter password"
            required
          />
          <label for="password" >Confirm Password:</label>
          <input
            type="password"
            name="password"
            inputmode="verbatim"
            placeholder="Enter password"
            required
          />
          <button id="signup" type="button" style="box-shadow: 0 4px 15px #11111a;">Sign Up</button>
        </form>
      </div>
    </div>
    <script src="/js/managementregister.js"></script>
  </body>
</html>
