<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service Provider Interface</title>
  </head>
  <link rel="stylesheet" href="/main_home.css">
  <style>
    * {
      margin: 0px;
      padding: 0px;
      font-family: "Times New Roman", Times, serif;
      font-weight: 800;
    }

    .main {
      background-color:#d9e5d6;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 0px 0px 0px;
    }

    .form_container {
      /* border: 2px solid black; */
      border-radius: 20px;
      height: 350px;
      width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 0px 0px 0px;
      background-color: #eddea4;
      box-shadow: 0 4px 15px #11111a;
    }

    input {
      background-color: #d9e5d6;
      color: indigo;
      height:40px;
      width: 300px;
      border: 2px solid transparent;
      border-radius: 10px;
      padding: 10px;
      margin: 5px 0px 10px 0px;
      cursor: pointer;
    }
    #form {
      margin: 35px;
    }

    #submit {
      color: black;
      display: block;
      height: 40px;
      width: 100px;
      margin:5px 0px 15px 100px;
      border-radius: 10px;
      cursor: pointer;
      background-color: #ff9b42;
      border: none;
      box-shadow: 0 4px 15px #11111a;
    }

    .notlogin {
      display: inline;
      margin: 40px 30px 0px 5px;
      color: blue;
    }

    label{
      color: black;
    }
  </style>
  <body>
     <!-- Navbar -->
    <div class="navbar">
      <div id="logo">
        <p>logo</p>
        <img src="" alt="" />
      </div>
      <div id="section">
        <ul>
          <li>
            <div>
              <a href="/home">Home</a>
              <div class="bar"></div>
            </div>
          </li>
          <li>
            <div>
              Announcements
              <div class="bar"></div>
            </div>
          </li>
          <li>
            <div>
              Service
              <div class="bar"></div>
            </div>
          </li>
          <li>
            <div>
              About
              <div class="bar"></div>
            </div>
          </li>
          <li>
            <div>
              Contact
              <div class="bar"></div>
            </div>
          </li>
          <li>
            <div>
              Help
              <div class="bar"></div>
            </div>
          </li>
        </ul>
      </div>

      <div id="google_translate_element" class="multi_lang"></div>

      <a class="account" href="#">
        <i></i>
        <p></p>
        </a>
    </div>

      <a class="account" href="#">
        <i class="fa-solid fa-circle-user"></i>
        <p>log in</p>
        
      </a>
    </div>

    <!--action to send it to admin to be added later-->
    <div class="main">
      <div class="form_container">
        <div id="form">
          <form action="/login/basic" method="post" id="signin">
            <label for="Email">Email:</label>
            <input type="text" placeholder="Enter your Email" name="email" required />
            <label for="Password" >Password:</label>
            <input type="password" placeholder="Enter Password" name="password" required />
            <button id="submit">Log in</button>
            <a href="/forgotpass" class="notlogin">Forgot Password ?</a>
            <a href="/register/user" target="_parent" class="notlogin"
              >Register Yourself</a> 
            <!-- go to register page -->
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement(
        {pageLanguage: 'en'},
        'google_translate_element'
      );
    }
  </script>
  <script type="text/javascript" 
          src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
  </script>
  </body>  
</html>